apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-backend
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-backend
    spec:
      containers:
      - name: {{ .Release.Name }}-backend
        env:
        - name: MONGODB_URI
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-backend-config
              key: MONGODB_URI
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-backend-secret
              key: JWT_SECRET
        - name: MONGODB_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-database-secret
              key: mongodb-root-user
        - name: MONGODB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-database-secret
              key: mongodb-root-password
        image: {{ .Values.registry }}/vu_sc_backend
        imagePullPolicy: Always # Ensure that updated images are applied
        ports:
        - containerPort: {{ .Values.backendPort }}
