# NOTE keep in sync with `mongodb.global.namespaceOverride`
namespace: development
registry: localhost:32000
replicaCount: 2
backendImageTag: latest
backendPort: 3000
frontendImageTag: latest
frontendPort: 3001
databasePort: 27017
ingressClass: public
hostname: localhost

# Subchart values
mongodb:
  nameOverride: database
  global:
    # NOTE keep in sync with `namespace`
    namespaceOverride: development
  auth:
    # NOTE prefix must match release name
    existingSecret: vu-sc-database-secret
    databases:
      - vu-sc
    usernames:
      - vu-sc
